{% extends 'base.html' %}

{% block title %}
    Page not found 404
{% endblock %}

{% block hero %}
	<div class="site-error">
        <div class="error-title">
            <h1>We can't found this page.</h1>
        </div>
	</div>

{% endblock %}

{% block content %}
    <h2>Here are some useful links for you:</h2>

    <p>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
        or try to use search form.
    </p>

{% endblock %}